@import '../../styles/colors.scss';

.loginWrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    button {
      margin-top: 24px;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .loginWrap {
    .form {
      max-width: 350px;
      padding: 34px;
    }
  }
}
